
body { font-family: 'Open Sans', sans-serif; font-size: 15px; font-weight: 400; color: #888; line-height: 30px; text-align: center; }

/***** Top menu *****/

.navbar {
	background: #444;
	-o-transition: all .6s; -moz-transition: all .6s; -webkit-transition: all .6s; -ms-transition: all .6s; transition: all .6s;
	backface-visibility: hidden;
  align-content: left;
}
.navbar.navbar-no-bg {  background: rgb(0, 0, 0); }


.navbar-expand-md .navbar-nav .nav-item { padding: 1rem; }

.navbar-brand {
	width: 139px;

	background: url(../img/logo.png) left center no-repeat;
	padding: 10px 75px;
	border: 0;
	text-indent: -99999px;
}


.navbar-search-form.disabled,
.navbar-menu-items.disabled { display: none; }


.navbar-search-form input[type="search"] {
	width: 200px;
  margin: 0;
  background: none;
  border: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: #fff;
    border-radius: 0px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}
.navbar-search-form input[type="search"]:focus {
	outline: 0; background: none; border: 0;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}
.navbar-search-form input[type="search"]::-moz-placeholder { color: #fff; color: rgba(255, 255, 255, 0.8); }
.navbar-search-form input[type="search"]:-ms-input-placeholder { color: #fff; color: rgba(255, 255, 255, 0.8); }
.navbar-search-form input[type="search"]::-webkit-input-placeholder { color: #fff; color: rgba(255, 255, 255, 0.8); }


/***** thumbnail code*****/
/* CSS used here will be applied after bootstrap.css */





/**** top content***/
.navbar-dark .navbar-nav { font-size: 15px; color: #fff; text-transform: uppercase; }
.inner-bg { padding: 210px 0; }




.nav-item span{

  display: flex;
  align-self: flex-end;
}



.nav-item input {
  border: 0;
  outline: 0;
  color:  #fff;
  background: transparent;
  border-bottom: 1px solid white;

  display: flex;
  align-self: flex-end;
  width: 40px;



}

.button5  {
  background-color: white;
  border: none;
  color: black;
  padding: 5px;
  text-align: center;

  font-size: 15px ;

  cursor: pointer;
  border-radius: 35%;

}



/***** Footer *****/

footer { 
	padding: 20px 0 !important;
	position: fixed; 
	left: 0;
  	bottom: 0;
  	width: 100%;  }
footer.footer-container{background: #f8f8f8;}

